.App {
    min-height: 100vh;
    text-align: center;
    background-color: #282c34;
    font-size: calc(10px + 1vmin);
    color: white;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-link {
    color: #61dafb;
}

.AddNote {
    width: 500px;
    max-height: 40vh;
    margin: 50px auto;
    background-color: #fed9b4;
}

.DraftWrapper {
    min-height: 70%;
    border: 2px solid black;
    color: black;
}

.AddNote button {
    background-color: rgba(100%, 100%, 100%, 0%);
}

.AddNote .active {
    background-color: yellowgreen;
}

.Notes {
    display: flex;
    flex-direction: row;
}

.Notes ul {
    max-width: 30vw;
    list-style: none;
    padding-inline-start: 0px;
}

.Note {
    margin: 10px 0;
    padding: 5px 0;
    background-color: #fed9b4;
    color: black;
    border-radius: 25px;
    cursor: pointer;
}

.Note h4 {
    margin: 5px 0;
}

.Note div {
    background-color: rgba(100%, 100%, 100%, 50%);
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}