.App {
    min-height: 100vh;
    text-align: center;
    background-color: #282c34;
    font-size: calc(10px + 1vmin);
    color: white;
}

.Notes {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.AddNote {
    min-width: 40vw;
    margin: 50px auto;
    background-color: #fed9b4;
    border-radius: 25px;
    align-self: flex-start;
}

.DraftWrapper {
    min-height: 10vh;
    border: 2px solid black;
    color: black;
    background-color: rgba(100%, 100%, 100%, 50%);
}

.AddNote button {
    margin: 5px 10px;
    background-color: rgba(100%, 100%, 100%, 0%);
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    transition-duration: .5s;
}

.AddNote button:hover {
    background-color: black;
    color: #fed9b4;
}

.AddNote .active {
    background-color: yellowgreen;
}

.Notes ul {
    min-width: 30vw;
    list-style: none;
    padding-inline-start: 0px;
    flex-wrap: wrap;
}

.Note {
    min-height: 25vh;
    margin: 10px 5px;
    background-color: #fed9b4;
    color: black;
    border-radius: 25px;
    cursor: pointer;
}

.Note h4 {
    margin: 5px 0;
}

.Note button {
    margin: 5px;
    width: 45%;
    border-radius: 25px;
    background-color: rgba(100%, 100%, 100%, 0%);
    font-size: 1.1rem;
    cursor: pointer;
    transition-duration: .5s;
}

.Note button:hover {
    background-color: black;
    color: #fed9b4;
}

.NoteWrapper {
    height: 100%;
    background-color: rgba(100%, 100%, 100%, 0%);
    z-index: 1;
}

.NoteWrapper div {
    min-height: 20vh;
    background-color: rgba(100%, 100%, 100%, 50%);
}

@media (max-width: 500px) {
    .AddNote button {
        font-size: 0.8rem;
    }
    .Notes {
        flex-direction: column-reverse;
    }
    .Notes ul {
        max-width: 100%;
        display: flex;
    }
    .Note {
        max-width: 30vw;
    }
    .Note button {
        font-size: 0.8rem;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ldsRoller {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
}

.ldsRoller div {
    animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.ldsRoller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}

.ldsRoller div:nth-child(1) {
    animation-delay: -0.036s;
}

.ldsRoller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.ldsRoller div:nth-child(2) {
    animation-delay: -0.072s;
}

.ldsRoller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.ldsRoller div:nth-child(3) {
    animation-delay: -0.108s;
}

.ldsRoller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.ldsRoller div:nth-child(4) {
    animation-delay: -0.144s;
}

.ldsRoller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.ldsRoller div:nth-child(5) {
    animation-delay: -0.18s;
}

.ldsRoller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.ldsRoller div:nth-child(6) {
    animation-delay: -0.216s;
}

.ldsRoller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.ldsRoller div:nth-child(7) {
    animation-delay: -0.252s;
}

.ldsRoller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.ldsRoller div:nth-child(8) {
    animation-delay: -0.288s;
}

.ldsRoller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes ldsRoller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}